<app-modify-content (createEvent)="addCardContent($event)"></app-modify-content>
<div>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="title" placeholder="search title">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="searchTitle()">Search</button>
</div>

<div *ngIf="titleFound !== null">
    <p [style.color]="titleFound ? 'green' : 'red'">
        {{titleFound ? 'Title exists': 'Title Not exists'}}
  </p>

</div>



<mat-divider></mat-divider>

<div>
    <h1>No Type</h1>
    <mat-card *ngFor="let content of contentCards | contentTypeFilter" class="card nt">
        <a routerLink="/list/{{content.id}}">
            <mat-card-header>
                <div *ngIf="content.imgURL; else imglink">
                    <img mat-card-image [src]="content.imgURL" alt={{content.title}} (click)="clickLog(content)">
                </div>
                <ng-template #imglink>
                    <img mat-card-image [src]="imgurl" alt={{content.title}} (click)="clickLog(content)">
                </ng-template>
            </mat-card-header>
        </a>
        <mat-card-content>
            <h2>{{content.title}}</h2>
            <div>{{content.description}}</div>
            <div>Creator: {{content.creator}}</div>
            <div appHoverAffect='underline'>Type: {{content.type}}</div>
            <div *ngIf="content.tags">Tags: 
                <span *ngFor="let tag of content.tags" appHoverAffect="bold">
                    {{tag}},
                </span>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<mat-divider></mat-divider>

<div>
    <h1>Reality Show</h1>
    <mat-card *ngFor="let content of contentCards | contentTypeFilter:'Reality Show'" class="card rs">
        <a routerLink="/list/{{content.id}}">
            <mat-card-header>
                <div *ngIf="content.imgURL; else imglink">
                    <img mat-card-image [src]="content.imgURL" alt={{content.title}} (click)="clickLog(content)">
                </div>
                <ng-template #imglink>
                    <img mat-card-image [src]="imgurl" alt={{content.title}} (click)="clickLog(content)">
                </ng-template>
            </mat-card-header>
        </a>

        <mat-card-content>
            <h2>{{content.title}}</h2>
            <div>{{content.description}}</div>
            <div>Creator: {{content.creator}}</div>
            <div appHoverAffect='underline'>Type: {{content.type}}</div>
            <div *ngIf="content.tags">Tags: 
                <span *ngFor="let tag of content.tags" appHoverAffect="bold">
                    {{tag}},
                </span>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<mat-divider></mat-divider>

<div>
    <h1>Horror</h1>
    <mat-card *ngFor="let content of contentCards | contentTypeFilter:'Horror'" class="card h">
        <a routerLink="/list/{{content.id}}">
            <mat-card-header>
                <div *ngIf="content.imgURL; else imglink">
                    <img mat-card-image [src]="content.imgURL" alt={{content.title}} (click)="clickLog(content)">
                </div>
                <ng-template #imglink>
                    <img mat-card-image [src]="imgurl" alt={{content.title}} (click)="clickLog(content)">
                </ng-template>
            </mat-card-header>
        </a>

        <mat-card-content>
            <h2>{{content.title}}</h2>
            <div>{{content.description}}</div>
            <div>Creator: {{content.creator}}</div>
            <div appHoverAffect='underline'>Type: {{content.type}}</div>
            <div *ngIf="content.tags">Tags: 
                <span *ngFor="let tag of content.tags" appHoverAffect="bold">
                    {{tag}},
                </span>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<mat-divider></mat-divider>

<div>
    <h1>Super power</h1>
    <mat-card *ngFor="let content of contentCards | contentTypeFilter:'Super power'" class="card sp">
        <a routerLink="/list/{{content.id}}">
            <mat-card-header>
                <div *ngIf="content.imgURL; else imglink">
                    <img mat-card-image [src]="content.imgURL" alt={{content.title}} (click)="clickLog(content)">
                </div>
                <ng-template #imglink>
                    <img mat-card-image [src]="imgurl" alt={{content.title}} (click)="clickLog(content)">
                </ng-template>
            </mat-card-header>
        </a>

        <mat-card-content>
            <h2>{{content.title}}</h2>
            <div>{{content.description}}</div>
            <div>Creator: {{content.creator}}</div>
            <div appHoverAffect='underline'>Type: {{content.type}}</div>
            <div *ngIf="content.tags">Tags: 
                <span *ngFor="let tag of content.tags" appHoverAffect="bold">
                    {{tag}},
                </span>
            </div>
        </mat-card-content>
    </mat-card>
</div>