.card:first-child{
    border: 2px solid black;
}
.card{
    border: 1px solid black;
    margin: 18px;
    padding: 20px;
}
img{
    width:400px;
}

.nt{
    color: #FC766AFF;
    background-color: #5B84B1FF;
}

.rs{
    color:#00203FFF;
    background-color:#ADEFD1FF;
}

.h{
    color:#0063B2FF;
    background-color:#9CC3D5FF ;

}

.sp{
    color:#FAD0C9FF;
    background-color: #6E6E6DFF;
}