div{
    margin: 5px;
}
.clear{
    width: 139px;
    height: 42px;
    padding: 8px;
    font-size: 11px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #5ea84b;
    
}
